@charset "UTF-8";
:root{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    font-size: 1.6rem;
    background: #F2F2F2;
}
header{
    margin-bottom: 25px;
}
main{
    display: flex;
    flex-direction: column;
}
nav{
    display: flex;
    height: 12.0rem;
    width: 100%;
    background-color: #5C5D67;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem 0 4rem;
    flex-wrap: wrap;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    outline: none;
}
nav ul li{
    margin: 0 0.5rem;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 500;
    padding: 1.5rem 1.9rem;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
} 
.itens-produto-menu{
    display: none;
    position: absolute;
    background-color:#5C5D67;
    min-width: 1.5rem;
    z-index: 1;
    border-radius: 0px 0px 7px 7px;

}
.itens-produto-menu a{
    color: white;
    padding: 1.5rem 1.5rem;
    text-decoration: none;
    display: block;
}
.drop-cardapio:hover .itens-produto-menu{
    display: block;
}

nav ul li a.active,
nav ul li a:hover{
    background-color: #f7ff58;
    color: #BF1304;
}
nav .menu-btn i{
    color: #fff;
    cursor: pointer;
    display: none;
    margin: 1rem;
}

@media (max-width: 50.0rem) {
    .login-logo{
        display: none;
    }
}

@media (max-width: 50.0rem) {
    nav .menu-btn i{
        display: block;
        
    }
    nav ul{
        position: fixed;
        top: 12rem;
        left: -100%;
        background-color: #5C5D67;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.2s ease;
    }
    nav ul.open{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 2.5rem;
        padding-right: 4.0rem;
    }
    nav ul li a{
        font-size: 2.5rem;
    }
    .itens-produto-menu{
        left: -100%;
    }
    nav ul li a.active,
    nav ul li a:hover{
    background-color: #5C5D67;
    font-size: 2.6rem;    
    color: white;
}
.logo{
    min-width: 80rem;
    display: none;
}
}
.login-box{
    width: 100%;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0px 5px 40px #66666634;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 75px;
    margin-right: 15px;
}.login-box h1{
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}.textfiewd{
	margin: auto;
	display: flex;
	flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px 0px 50px;
    padding: 0px 30px 0px 30px;
}
.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px; 
    background-color: #eeeeee;
    color: black;
    outline: none;
    margin-bottom: 15px;
    margin-top: 10px;
}
#idAdmin{
    width: 100%;
    border: 1px solid rgba(250, 20, 20, 0.753);
    padding: 10px; 
    background-color: rgb(178, 178, 178);
    color: black;
    outline: none;
    margin-bottom: 15px;
    margin-top: 10px;
}
.home-imagem-logo{
    margin-top: 20rem;
}
.dinamic{
    width: 100%;
}
.dinamic-login{
    width: 70%;
}
.container-logo{
    margin: 2rem auto;
    display: block;
    max-width: 60rem;
}
.container-logo-login{
    margin: 3rem auto;
    display: block;
    max-width: 80rem;
}
.container-pizzaiolo{
    margin: 3rem auto;
    display: block;
    max-width:60rem;
}
.container-pizzaria{
    margin: 3rem auto;
    display: block;
    max-width:75rem;
}
.about{
    background-color: #F2F2F2;
    margin-top: 80px;
}
.tp-1-2{
    padding: 4rem;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}
.art-1-2{
    display: block;
    margin: 20px auto;
    font-size: 26px;
    color: #525252;
    border-radius: 50px;
    text-align: left;
    padding: 3rem;
    width: 40rem;
}
.about-bege{
    background-color: #ebe0c4;
}
.tp-1{
    padding: 4rem;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.tp-1 picture img{
    border-radius: 20px;
}
.art-1{
    display: block;
    margin: 20px auto;
    font-size: 26px;
    color: #525252;
    background-color: #fff;
    border-radius: 50px;
    text-align: justify;
    padding: 3rem;
    width: 60rem;
}
.art-1 h1{
    text-align: center;
    padding: 1.6rem;
}
.missao{
    display: block;
    margin: 20px;
    font-size: 26px;
    color: #525252;
    background-color: #fff;
    border-radius: 50px;
    text-align: justify;
    padding: 3rem;
    width: 60rem;
}
.visao{
    display: block;
    margin: auto;
    font-size: 26px;
    color: #525252;
    background-color: #fff;
    border-radius: 50px;
    text-align: justify;
    padding: 3rem;
    width: 60rem;
}
.valores{
    display: block;
    margin: 20px;
    font-size: 26px;
    color: #525252;
    background-color: #fff;
    border-radius: 50px;
    text-align: justify;
    float: right;
    padding: 3rem;
    width: 60rem;
}
.linha{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-logo{
    margin-left: 50px;
}
.tabela{
	margin-top: 150px;
	margin-bottom: 320px;
	margin-left: 40px;
}
.tabela h1{
	margin-bottom: 20px;
}
#tabelaAdmin{
	margin-top: 30px;
	border-collapse: collapse;
}
#tabelaAdmin th{
	border: 1px solid #000000;
	padding: 10px;
	text-align: left;
	background-color: rgba(250, 20, 20, 0.753);
	color: white;
}
#tabelaAdmin td{
	border: 1px solid rgba(250, 20, 20, 0.753);
	padding: 10px;
}
footer{
    text-align: center;
    height: 100px;
    padding-top: 40px;
    background-color: #525252;
    color: white;
}
footer a{
    text-decoration: none;
    color: white;
}
#btn-adc-admin{
    width: 150px;
    border-radius: 10px;
    display: block;
    margin: auto;
    background-color: rgba(250, 20, 20, 0.753);
    color: white;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
}
.btn-padrao{
    width: 150px;
    border-radius: 10px;
    display: inline;
    height: 40px;
    background-color: rgba(250, 20, 20, 0.753);
    color: white;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    border: none;
    text-align: center;
    padding: 7px;
    text-decoration: none;
}
.btn-padrao2{
    width: 150px;
    border-radius: 10px;
    display: inline;
    height: 40px;
    background-color: #24252b;
    color: white;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    border: none;
    text-align: center;
    padding: 7px;
    text-decoration: none;
}
.btn-padrao-c{
    width: 150px;
    border-radius: 10px;
    display: block;
    height: 40px;
    background-color: rgba(250, 20, 20, 0.753);
    color: white;
    font-weight: 500;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
    text-align: center;
    padding: 8px;
}
.btn-padrao a{
	text-decoration: none;
	width: 100%;
	color: white;
}
.btn-padrao-c a{
	text-decoration: none;
	width: 100%;
	color: white;
}
.cont-img{
    width: 100%;
    height: 100%;
}
.cont{
    background-color: #525252;
    margin-top: 80px;
}
.contatos{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.contatos article{
    font-size: 22px;
    margin-top: 30px;
}
.rede a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #000000;
}
.rede a img{
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 7px;
}